#container {
	width: 1200px;
}

#mainPanel {
	background: black;
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
}

#infoPanel {
	width: 250px;
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 10px;
	background-color: "white";
}

li {
	width: 200px;
}
/*
li:before {
	float: left;
    content: "\00a0";
    width: 20px;
    border: 0px solid transparent;
}
*/
#masksUL li:hover {
	background: orange;
}

.seriesList {
	margin-bottom: 50px;
}

.masksList {
	margin-bottom: 50px;
}